<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN DASHBOARD PANEL</title>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <!-- Bootstrap link  -->
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/bootstrap/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/sass.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/layets.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin/assets/css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/responsive.css')}}">



</head>
<body>
    <div class="main-wrapper">
        <!-- NAVBAR START  -->
        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm expand-header">
                <div class="header-left d-flex">
                    <div class="logo">
                        CarBooking.com
                    </div>
                </div>
                <ul class="navbar-item flex-row ml-auto">
                    <!-- <li class="nav-item">
                        <div class=" nav-link input-group search">
                            <div class=" input-group-prepend">
                              <input id="search-input" type="search" id="form1" class="form-control" placeholder="search" />
                            </div>
                            <div class="input-group-prepend">
                                <i class="fas fa-search"></i>
                            </div>                
                        </div>
                    </li> -->

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon">
                            <p class="count purple-gradient">5</p>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/cloud.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Rebooted</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/notes.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Helal sent a file</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Don't work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/heart.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Love Your Work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Don't work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/email.png')}}" alt="" class="icon">
                            <p class="count bg-clc">5</p>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-1.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-2.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-3.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-4.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Co Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-5.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Writer</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-6.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Admin</p>
                                        </div>  
                                </a>
                                
                            
                            </div>
                        </div>



                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/profile.png')}}" alt="" class="icon">
                        </a>

                        <div class="dropdown-menu">
                            <div class="user-profile-section">
                                <div class="media mx-auto">
                                    <img src="{{url_for('static', filename='blog/assets/img/profile.png')}}" alt="" class="img-fluid mr-2">
                                    <div class="media-body">
                                        <h5>Helelal uddin</h5>
                                        <p>Super Admin</p>
                                    </div>
                                </div>

                            </div>
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fas fa-user"></span>User</a>
                                <a href="" class="dropdown-item"><span class="fas fa-inbox"></span>Inbox</a>
                                <a href="" class="dropdown-item"><span class="fas fa-lock-open"></span>Lock screen</a>
                                <a href="" class="dropdown-item"><span class="fas fa-outdent"></span>Log Out</a>
                            </div>
                        </div>

                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/setting.png')}}" alt="" class="icon">
                        </a>
                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fas fa-plug"></span>Permisssion</a>
                                <a href="" class="dropdown-item"><span class="fas fa-users"></span>Admins</a>
                                <a href="" class="dropdown-item"><span class="fas fa-object-ungroup"></span>Design Types</a>
                                <a href="" class="dropdown-item"><span class="fas fa-palette"></span>Color</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </header>

        </div>
          <!-- SIDEBAR START  -->
          <div class="left-menu">
            <div class="menubar-content">
                <nav class="animated bounceInDown">
                    <ul id="sidebar">
                        <li class="active">
                            <a href="{{url_for('admin.admin_dashboard')}}"> <i class="fas fa-home"></i>Dashboard </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fas fa-box-open"></i>Blog Site </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-uikit"></i>Admintrators </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fas fa-chart-bar"></i>Users </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-telegram-plane"></i>Posts</a>
                        </li>
                        <!-- drop down lit item  start -->
                        <li class="sub-menu">
                            <a href="#"> <i class="fas fa-cogs"></i>Settings
                                <div class="fa fa-caret-down right"></div>
                            </a>
                            <ul class="left-menu-dp">
                               <li >
                                <a href="" ><i class="fas fa-user-circle"></i> Account</a> 
                                </li>
                                <li>
                                <a href="" ><i class="fas fa-id-card"></i> Profile</a> 
                                </li>
                                <li>
                                <a href="" ><i class="fas fa-fingerprint"></i> Security &amp; Privacy</a> 
                                </li>
                                <li>
                                <a href="" ><i class="fas fa-key"></i> Password</a> 
                                </li>
                                <li>
                                <a href="" ><i class="fas fa-bell"></i> Notification</a> 
                                </li>
                            </ul>
                        </li>
                        <!-- drop down lit item  start -->
                        <li>
                            <a href="{{url_for('admin.admin_login')}}"> <i class="fas fa-sign-out-all"></i>Logout </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
        <!-- SIDEBAR END  -->

        <!-- MAIN BODY START  -->
        <div class="content-wrapper">
            <section class="dashboard-top-sec">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="bg-white top-chart-earn">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="last-month">
                                            <h5>Dashboard</h5>
                                            <p>Preview of Lastest Month</p>


                                            <div class="earn">
                                                <h2>$33367.98</h2>
                                                <p>Current Month Sales</p>
                                            </div>

                                            <a href="" class="di-btn purple-gradient">Last Month Summary</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-8 my-2 ps-0">
                                        <div class="classic-tabs">
                                            <!-- =======new tabs======== -->
                                            <div class="tabs-wrapper">
                                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <li class="nav-item" >
                                                        <a href="" class="nav-link chart-nav  active" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button " role="tab" aria-controls="pills-week" aria-selected="true">Week</a >
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="" class="nav-link chart-nav  " id="pill-month-tab" data-bs-toggle="pill" data-bs-target="#pill-month" type="button " role="tab" aria-controls="pill-month" aria-selected="false">Month</a >
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="" class="nav-link chart-nav waves-light waves-effect " id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button " role="tab" aria-controls="pills-year" aria-selected="false">Year</a >
                                                    </li>
  
                                                </ul>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab" tabindex="0">week</div>
                                                    <div class="tab-pane fade" id="pill-month" role="tabpanel" aria-labelledby="pill-month-tab" tabindex="0">month</div>
                                                    <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab" tabindex="0">year</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="wre-sec">
                                <div class="row">
                                    <div class="col-sm col-md-6 ">
                                        <div class="earn-view">
                                            <span class="fas fa-crown earn-icon .icon">
                                                <div class="earn-view-text">
                                                    <p class="name-text">Wallet Balance</p>
                                                    <h6 class="balance-text">
                                                        $1684.54
                                                    </h6>
                                                </div>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-sm  col-md-6 ">
                                        <div class="earn-view">
                                            <span class="fas fa-crown earn-icon .icon">
                                                <div class="earn-view-text">
                                                    <p class="name-text">Best User Posts</p>
                                                    <h6 class="balance-text">
                                                        64 users
                                                    </h6>
                                                </div>
                                            </span>
                                        </div>

                                    </div>
                                    <div class=" post-button ">
                                        <a href="" class="di-btn posts2 purple-gradient">Favourite Posts</a>
                                    </div>
        
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    <div class="row user-admin-post">
                        <div class="col-lg-4 p-4">
                            <div class="row user-admin">
                                <div class="bg-white user-button col-lg-12">
                                    <div class="fas fa-users user-icon">
                                        <div class="user-header">
                                            <p>Users</p>
                                        </div>
                                        <div class="user-add-button">
                                            <a href="{{url_for('admin.users')}}" class="di-btn user purple-gradient">View Users</a>
                                        </div>
                                    </div>
    
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-4 p-4">
                            <div class="row">
                                <div class="bg-white user-button col-lg-12">
                                    <div class="fas fa-users user-icon">
                                        <div class="user-header">
                                            <p>Posts</p>
                                        </div>
                                        <div class="user-add-button">
                                            <a href="{{url_for('admin.posts')}}" class="di-btn user purple-gradient">View Posts</a>
                                        </div>
                                    </div>
    
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-4 p-4 mr-3">
                            <div class="row">
                                <div class="bg-white user-button col-lg-12">
                                    <div class="fas fa-user user-icon">
                                        <div class="user-header">
                                            <p>Admin</p>
                                        </div>
                                        <div class="user-add-button">
                                            <a href="" class="di-btn user purple-gradient">View Admin</a>
                                        </div>
                                    </div>
    
                                </div>  
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <!-- MAIN BODY END  -->


    </div>
    




    <!-- javascript link 
     -->
     <script src="{{url_for('static', filename='blog/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/main.js')}}"></script>
</body>
</html>