.logo a {
    color: white;
    font-weight: 800;
    font-size: 19px;
    text-shadow: 0 0 black;
}

.logo a:hover {
    color: white;
    border-bottom: 0px;
}
.nav-list.nav-item {
    display: inline-flex;
    justify-content: space-around;
}

.main-section {
    height: 100vh;
}

footer.footer-class.bg-light.text-dark {
    background: lightgrey;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    height: 100px;
    align-items: center;
    width: 100%;
}


p.copyright {
    align-items: center;
    margin: auto;
    padding: 20px;
}
.nav.navbar.navbar-expand-lg.blog-nav {
    padding: 0px;
}
.connection-top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.connection-top ul.navbar-item.flex-row.ml-auto {
    padding: 0px;
    height: 40px;
    display: inline-flex;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
}


.connection.donate-link img.icon {
    object-fit: contain;
    /* padding: 10px; */
}
img.icon-b {
    height: 20px;
    padding: 0px;
    background: white;
    border-radius: 50%;
    margin-left: 10px;
}
.btn.btn-donate.p-o {
    padding: 0px;
    font-size: 11px;
    font-weight: 200;
    height: 30px;
    background: black;
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
a.nav-link.donate-link {
    padding: 0px;
    justify-content: space-between;
}
.main-body{
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
}
.single-blog .blog-text  {
    height: 100px;
    overflow: hidden;
}
/*----------------------------------------
 .End CSS
----------------------------------------*/
