/* ============================navbar start======================= */
.header-container {
    background: #fff;
    box-shadow: -1px 4px 20px 1px #f1f1f185;
}

header.header {
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

img.icon {
    width: 25px;
    
}

.header-left {
    justify-content: space-between;
    align-items: center;
}

ul.navbar-item {
    display: flex;
}

.dropdowm {
    position: relative;
}

.user-profile-dropdown {
    margin-right: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.user {
    padding: 6px 0;
    font-size: 25px;
    color: #9999;
    position: relative;
}
p.count {
    font-size: 10px;
    position: absolute;
    top: 0;
    color: var(--white-color);
    /* background: var(--main-gradient); */
    height: 13px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -3px;
}

.logo {
    width: 240px;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    background: var(--main-gradient);
    color: var(--white-color);
}

a.sidebarCollapse {
    padding-left: 20px;
    color: var(--second-color);
    font-size: 20px;
}

span.fas.fa-times {
    color: var(--white-color);
    padding: 2px;
}
.search {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}



/* ============================navbar end======================= */



/* ========================== notification Dropdown start===================== */
.dropdown-menu{
    z-index: var(--z-fixed);
    max-width: 15rem;
    right: 0px !important;
    left: auto !important;
    min-width: 16rem !important;
    padding: 0;
    border-radius: 5px;
}

img.user-note {
    width: 50px;
}

.dp-main-menu {
    display: inline-grid;
    width: 100%;
    box-shadow: 0px 4px 20px #ddd;
    border-radius: 5px;
    padding: 10px 0;
}

.dp-main-menu a {
    font-size: 13px;
    color: var(--second-color);
    width: 100%;
    white-space: initial;
    line-height: 13px;
    border-bottom: 1px solid #f7f7f7;
    align-items: center;
    padding: 10px;
}

.message-item {
    display: flex;
}
.note-info-dismiss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-notify-info {
    line-height: 18px;
    margin-left: 15px;
}


.status-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main-gradient);
    color: var(--white-color);
}
p.not-name {
    font-size: 13px;
    font-weight: 500;
}

p.note-time {
    font-size: 11px;
}

.dp-main-menu a:last-child{
    border-bottom: 0;
}


/* ==========================notification Dropdown end ===================== */

/* ================message dropdown start style===================== */
img.sms-user {
    width: 45px;
    height: 45px;
    margin: 7px;
    border-radius: 50%;
}

p.m-user-name {
    font-size: 13px;
    font-weight: 600;
    color: var(--second-color);
}

p.user-role {
    font-size: 10px;
    color: var(--main-color);
}

/* ================message dropdown end style===================== */


/* ================profile dropdown end style===================== */

.media {
    background: var(--main-color);
    text-align: center;
    padding-top: 10px;
}

img.img-fluid.mr-2 {
    width: 70px;
    border-radius: 50%;
    height: 70px;
}

.media-body {
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 10pz;
}

.media-body h5 {
    font-weight: 700;
    color: var(--white-color);
}

.media-body p {
    font-size: 13px;
    color: var(--white-color);
    font-weight: 400;
}
a.dropdowm-item a span{
    color: var(--main-color);
}

a.dropdown-item span {
    color: var(--main-color);
    padding-right: 8px;
}

/* ================profile dropdown end style===================== */

/* ========================sidebar start style======================= */






/* ========================sidebar end style======================= */
.left-menu {
    height: 100vh;
    width: 240px;
    position: fixed;
    box-shadow: 5px -2px  19px 2px #efeeee;
    overflow-y: scroll;
    transition: .5s;
    margin-top: -15px;
    background: var(--white-color);
}
.left-menu.hide {
    width: 0;
}

nav.animated {
    position: relative;
    /* width: 240px; */
}

ul#sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#sidebar li:hover {
    border-left: 5px solid var(--main-color);
}

ul#sidebar li {
    border-left: 5px solid #fff;
    transition: .3s;
}

ul#sidebar li a {
    display: block;
    padding: 7px 15px;
    transition: .3s;
    font-size: 12px;
    font-weight: 500;
    color: #636362;
}

ul#sidebar li a:hover {
    color: var(--main-color);
    background: #f7f7f7;
}

.left-menu::-webkit-scrollbar {
    width: 6px;
  }
   
.left-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(7, 26, 227) 0%, rgb(171, 221, 246) 54%);
  }
  li.active {
    border-left: 5px solid var(--main-color) !important;
}

li.active a {
    color: var(--main-color ) !important;
    background: #f9f9f9;
}

ul#sidebar li a i {
    padding-right: 5px;
    font-size: 14px;
}


/* ============================navbar start======================= */
.header-container {
    background: #fff;
    box-shadow: -1px 4px 20px 1px #f1f1f185;
}

header.header {
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

img.icon {
    width: 25px;
    
}

.header-left {
    justify-content: space-between;
    align-items: center;
}

ul.navbar-item {
    display: flex;
}

.dropdowm {
    position: relative;
}

.user-profile-dropdown {
    margin-right: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.user {
    padding: 6px 0;
    font-size: 25px;
    color: #9999;
    position: relative;
}
p.count {
    font-size: 10px;
    position: absolute;
    top: 0;
    color: var(--white-color);
    /* background: var(--main-gradient); */
    height: 13px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -3px;
}

.logo {
    width: 240px;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    background: var(--main-gradient);
    color: var(--white-color);
}

a.sidebarCollapse {
    padding-left: 20px;
    color: var(--second-color);
    font-size: 20px;
}

span.fas.fa-times {
    color: var(--white-color);
    padding: 2px;
}
/* ============================navbar end======================= */



/* ========================== notification Dropdown start===================== */
.dropdown-menu{
    z-index: var(--z-fixed);
    max-width: 15rem;
    right: 0px !important;
    left: auto !important;
    min-width: 16rem !important;
    padding: 0;
    border-radius: 5px;
}

img.user-note {
    width: 50px;
}

.dp-main-menu {
    display: inline-grid;
    width: 100%;
    box-shadow: 0px 4px 20px #ddd;
    border-radius: 5px;
    padding: 10px 0;
}

.dp-main-menu a {
    font-size: 13px;
    color: var(--second-color);
    width: 100%;
    white-space: initial;
    line-height: 13px;
    border-bottom: 1px solid #f7f7f7;
    align-items: center;
    padding: 10px;
}

.message-item {
    display: flex;
}
.note-info-dismiss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-notify-info {
    line-height: 18px;
    margin-left: 15px;
}


.status-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main-gradient);
    color: var(--white-color);
}
p.not-name {
    font-size: 13px;
    font-weight: 500;
}

p.note-time {
    font-size: 11px;
}

.dp-main-menu a:last-child{
    border-bottom: 0;
}


/* ==========================notification Dropdown end ===================== */

/* ================message dropdown start style===================== */
img.sms-user {
    width: 45px;
    height: 45px;
    margin: 7px;
    border-radius: 50%;
}

p.m-user-name {
    font-size: 13px;
    font-weight: 600;
    color: var(--second-color);
}

p.user-role {
    font-size: 10px;
    color: var(--main-color);
}

/* ================message dropdown end style===================== */


/* ================profile dropdown end style===================== */

.media {
    background: var(--main-color);
    text-align: center;
    padding-top: 10px;
}

img.img-fluid.mr-2 {
    width: 70px;
    border-radius: 50%;
    height: 70px;
}

.media-body {
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 10pz;
}

.media-body h5 {
    font-weight: 700;
    color: var(--white-color);
}

.media-body p {
    font-size: 13px;
    color: var(--white-color);
    font-weight: 400;
}
a.dropdowm-item a span{
    color: var(--main-color);
}

a.dropdown-item span {
    color: var(--main-color);
    padding-right: 8px;
}

/* ================profile dropdown end style===================== */

/* ========================sidebar start style======================= */






/* ========================sidebar end style======================= */
.left-menu {
    height: 100vh;
    width: 240px;
    position: fixed;
    box-shadow: 5px -2px  19px 2px #efeeee;
    overflow-y: scroll;
    transition: .5s;
    margin-top: -15px;
    background: var(--white-color);
}
.left-menu.hide {
    width: 0;
}

nav.animated {
    position: relative;
    /* width: 240px; */
}

ul#sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#sidebar li:hover {
    border-left: 5px solid var(--main-color);
}

ul#sidebar li {
    border-left: 5px solid #fff;
    transition: .3s;
}

ul#sidebar li a {
    display: block;
    padding: 7px 15px;
    transition: .3s;
    font-size: 12px;
    font-weight: 500;
    color: #636362;
}

ul#sidebar li a:hover {
    color: var(--main-color);
    background: #f7f7f7;
}

.left-menu::-webkit-scrollbar {
    width: 6px;
  }
   
.left-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(180,58,112,1) 0%, rgba(232, 37, 170) 54%);
  }
  li.active {
    border-left: 5px solid var(--main-color) !important;
}

li.active a {
    color: var(--main-color ) !important;
    background: #f9f9f9;
}

ul#sidebar li a i {
    padding-right: 5px;
    font-size: 14px;
}


