{% extends 'home.html'%}
{% block title%}
Blog Posts
{% endblock %}

{% block content%}
<div class="">
    <div class="container-fluid">
        <div class="row">


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 side-body-col">
                    <div class="page-head-blog ">
                        <div class="single-blog-page">
                            <!-- search  -->
                            <form action="#">
                                <div class="search-option">
                                <input type="text" placeholder="Search...">
                                <button class="button" type="submit">
                                    <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="">
                        <div class="single-blog-page">
                            <!-- recent start -->
                            <div class="left-blog">
                            <h4>recent post</h4>
                            
                            <div class="recent-post">
                                {%for post in posts%}
                                <!-- start single post -->                            
                                <div class="recent-single-post">
                                <div class="post-img">
                                    <a href="#">
                                        <img src="data:image/jpeg;base64,{{post.image|b64encode }}" alt="{{post.title}}"> </a>
                                </div>
                                <div class="pst-content">
                                    <p><a href="#"> {{post.title}}</a></p>
                                </div>

                                </div>
                                {%endfor%}
                            </div>
                            </div>
                            <!-- recent end -->
                        </div>
                        <div class="single-blog-page">
                            <div class="left-blog">
                            <h4>categories</h4>
                            
                            <ul>
                                {%for post in posts%}
                                <li>
                                <a href="#">{{ post.slug }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                            </div>
                        </div>
                        <div class="single-blog-page">
                            <div class="left-blog">
                            <h4>archive</h4>
                            <ul>
                                {%for post in posts%}
                                <li>
                                <a href="#">{{post.created}} </a>
                                </li>
                                {% endfor %}
                            </ul>
                            </div>
                        </div>
                    
                    </div>
            </div>
            
            
            <div class="col-md-8 col-sm-8 col-xs-12 main-body-col">
                <!-- blog posts -->
                
                {% for post in posts %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="single-blog-img">
                        <a href="/blog/readmore/{{ post.id }}">
                            <img src="data:image/jpeg;base64,{{post.image|b64encode }}" alt="{{post.title}}">
                            </a>
                        </div>
                        <div class="blog-meta">
                        <span class="comments-type">
                                                    <i class="fa fa-comment-o"></i>
                                                    <a href="#">11 comments</a>
                                                </span>
                        <span class="date-type">
                                                    <i class="fa fa-calendar"></i> {{post.created }}
                                                </span>
                        </div>
                        <div class="blog-text">
                        <h4>
                            <a href="#">{{ post.title }}</a>
                            </h4>
                        <p>
                            {{post.body | safe }}
                        </p>
                        </div>
                        <span>
                            <a href="/blog/readmore/{{ post.id }}" class="ready-btn">Read more</a>
                        </span>
                    </div>
                    </div>
                    {% endfor %}
                    <!-- End single blog -->
                    <div class="blog-pagination">
                    <ul class="pagination">
                        <!-- <li><a href="#">&lt;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&gt;</a></li> -->
                        {% if pagination.prev %}
                        <li><a href="?page={{ page - 1 }}&limit={{ limit }}">Previous</a></li>
                        {% endif %}
            
                        {% if pagination.next %}
                        <li><a href="?page={{ page + 1 }}&limit={{ limit }}">Next</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
            
        
        </div>
    </div>
</div>




{% endblock %}
