<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <!-- Bootstrap link  -->
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/bootstrap/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/sass.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/layets.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/blog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/responsive.css')}}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
    <div class="container-fluid blog-fluid">
      
      <!-- navbar start -->
   <div class=" nav navbar navbar-expand-lg blog-nav">
        <div class="logo">
          <a href="#">LUCU Bible study</a>
        </div>
        <div class="nav-list nav-item">
        <ul class="navbar-item flex-row ml-auto">
          <li class="nav-item dropdown user-profile-dropdown">
            <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
              <i class="fas fa-search icon " id="search-icon-blog"></i>
            </a>
            
          
          <div class="dropdown-menu">
            <div class="dp-main-menu">
              <div class="search-box-blog container">
                <input type="search" name="" id="" placeholder="Search here...">
            </div>
            </div>
          </div>

          </li>
          
            <li class="nav-item dropdown user-profile-dropdown">
                <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon">
                    <p class="count purple-gradient">5</p>
                </a>

                <div class="dropdown-menu">
                    <div class="dp-main-menu">
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/cloud.png')}}" alt="" class="user-note">
                            <div class="note-info-dismiss">
                                <div class="user-notify-info">
                                    <p class="not-name">Server Rebooted</p>
                                    <p class="note-time">20 min ago</p>
                                </div>
                                <p href="" class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/notes.png')}}" alt="" class="user-note">
                            <div class="note-info-dismiss">
                                <div class="user-notify-info">
                                    <p class="not-name">Helal sent a file</p>
                                    <p class="note-time">20 min ago</p>
                                </div>
                                <p href="" class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                            <div class="note-info-dismiss">
                                <div class="user-notify-info">
                                    <p class="not-name">Server Don't work</p>
                                    <p class="note-time">20 min ago</p>
                                </div>
                                <p href="" class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/heart.png')}}" alt="" class="user-note">
                            <div class="note-info-dismiss">
                                <div class="user-notify-info">
                                    <p class="not-name">Love Your Work</p>
                                    <p class="note-time">20 min ago</p>
                                </div>
                                <p href="" class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                            <div class="note-info-dismiss">
                                <div class="user-notify-info">
                                    <p class="not-name">Server Don't work</p>
                                    <p class="note-time">20 min ago</p>
                                </div>
                                <p href="" class="status-link"><span class="fas fa-times"></span></p>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown user-profile-dropdown">
                <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="{{url_for('static', filename='blog/assets/img/email.png')}}" alt="" class="icon">
                    <p class="count bg-clc">5</p>
                </a>
                <div class="dropdown-menu">
                    <div class="dp-main-menu">
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-1.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Super Admin</p>
                                </div>  
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-2.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Super Admin</p>
                                </div>  
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-3.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Super Admin</p>
                                </div>  
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-4.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Co Admin</p>
                                </div>  
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-5.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Writer</p>
                                </div>  
                        </a>
                        <a href="" class="dropdown-item message-item">
                            <img src="{{url_for('static', filename='blog/assets/img/user-6.jpeg')}}" alt="" class="sms-user">
                                <div class="user-message-info">
                                    <p class="m-user-name">Hellal Uddin</p>
                                    <p class="user-role">Admin</p>
                                </div>  
                        </a>
                        
                    
                    </div>
                </div>



            </li>

            <li class="nav-item dropdown user-profile-dropdown">
                <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                    <img src="{{url_for('static', filename='blog/assets/img/setting.png')}}" alt="" class="icon">
                </a>
                <div class="dropdown-menu">
                    <div class="dp-main-menu">
                        <a href="" class="dropdown-item"><span class="fas fa-plug"></span>Permisssion</a>
                        <a href="" class="dropdown-item"><span class="fas fa-users"></span>Admins</a>
                        <a href="" class="dropdown-item"><span class="fas fa-object-ungroup"></span>Design Types</a>
                        <a href="" class="dropdown-item"><span class="fas fa-palette"></span>Color</a>

                    </div>
                </div>
            </li>
        </ul>
        </div>
        
   </div>
   <hr>
   <div class="connection-top">
    <div-bible>
      <i class="fas fa-book">Bible</i>
    </div-bible>
    <div class="today">
      <ul class=" navbar-item">
        <li class="nav-item nav-link today-list">
          <a href="#">Today</a>
        </li>
        <li class="nav-item nav-link today-list">
          <a href="#">Programs</a>
        </li>
        <li class="nav-item  nav-link today-list">
          <a href="#">Sermons</a>
        </li>
        <li class="nav-item nav-link today-list">
          <a href="#">Blog</a>
        </li>
        <li class="nav-item nav-link today-list">
          <a href="#">More</a>
        </li>
      </ul>
    </div>
    <div class="avn-sam">
      <ul class="navbar-item flex-row ml-auto">
        <li class="nav-item connection">
          <a href="#" class="nav-link donate-link ml-2">
            <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon-b">
          </a>
         
        </li>
        <li class="nav-item connection">
          <a href="#" class="nav-link donate-link ml-2">
            <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon-b">
          </a>
         
        </li>
        <li class="nav-item connection">
          <a href="#" class="nav-link donate-link ml-2">
            <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon-b">
          </a>

        </li>
        <li class="nav-item connection">
          <div class="btn btn-donate p-o">
            <button class="btn btn-donate  p-o" type="button">Donate</button>
          </div>
        </li>
      </ul>
    </div>

  </div>
   
   <!-- navbar end  -->
    <!-- MAIN PAGE CONTENT START -->
    <div class="main-section">
      {% block content%}
    {% endblock %}
    </div>

    <!-- MAIN PAGE CONTENT END -->
    <hr>
    <footer class="footer-class bg-light text-dark">
      <p class="copyright">
        vickiemuwa@24 ..2024
      </p>
    </footer>
</div>



    <!-- javascript link 
     -->
    
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
     <script src="{{url_for('static', filename='blog/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/main.js')}}"></script>


    <script>
        tinymce.init({
  selector: '#blogtext',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});
    </script>
    
</body>
</html>