<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN DASHBOARD PANEL</title>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <!-- Bootstrap link  -->
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/bootstrap/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/sass.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/layets.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='blog/assets/css/responsive.css')}}">



</head>
<body>
    <div class="main-wrapper">
        <!-- NAVBAR START  -->
        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm expand-header">
                <div class="header-left d-flex">
                    <div class="logo">
                        CarBooking.com
                    </div>
                    <a href="#" class="sidebarCollapse" id="toggleSidebar"data-placement="buttom">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
                <ul class="navbar-item flex-row ml-auto">
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/notify.png')}}" alt="" class="icon">
                            <p class="count purple-gradient">5</p>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/cloud.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Rebooted</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/notes.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Helal sent a file</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Don't work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/heart.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Love Your Work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/error.png')}}" alt="" class="user-note">
                                    <div class="note-info-dismiss">
                                        <div class="user-notify-info">
                                            <p class="not-name">Server Don't work</p>
                                            <p class="note-time">20 min ago</p>
                                        </div>
                                        <p href="" class="status-link"><span class="fas fa-times"></span></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/email.png')}}" alt="" class="icon">
                            <p class="count bg-clc">5</p>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-1.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-2.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-3.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Super Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-4.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Co Admin</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-5.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Writer</p>
                                        </div>  
                                </a>
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static', filename='blog/assets/img/user-6.jpeg')}}" alt="" class="sms-user">
                                        <div class="user-message-info">
                                            <p class="m-user-name">Hellal Uddin</p>
                                            <p class="user-role">Admin</p>
                                        </div>  
                                </a>
                                
                            
                            </div>
                        </div>



                    </li>
                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/profile.png')}}" alt="" class="icon">
                        </a>

                        <div class="dropdown-menu">
                            <div class="user-profile-section">
                                <div class="media mx-auto">
                                    <img src="{{url_for('static', filename='blog/assets/img/profile.png')}}" alt="" class="img-fluid mr-2">
                                    <div class="media-body">
                                        <h5>Helelal uddin</h5>
                                        <p>Super Admin</p>
                                    </div>
                                </div>

                            </div>
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fas fa-user"></span>User</a>
                                <a href="" class="dropdown-item"><span class="fas fa-inbox"></span>Inbox</a>
                                <a href="" class="dropdown-item"><span class="fas fa-lock-open"></span>Lock screen</a>
                                <a href="" class="dropdown-item"><span class="fas fa-outdent"></span>Log Out</a>
                            </div>
                        </div>

                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static', filename='blog/assets/img/setting.png')}}" alt="" class="icon">
                        </a>
                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fas fa-plug"></span>Permisssion</a>
                                <a href="" class="dropdown-item"><span class="fas fa-users"></span>Admins</a>
                                <a href="" class="dropdown-item"><span class="fas fa-object-ungroup"></span>Design Types</a>
                                <a href="" class="dropdown-item"><span class="fas fa-palette"></span>Color</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </header>

        </div>
        <!-- NAVBAR END  -->

        <!-- MAIN PAGE CONTENT START -->

        <!-- MAIN PAGE CONTENT END -->



    </div>
    




    <!-- javascript link 
     -->
     <script src="{{url_for('static', filename='blog/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='blog/assets/js/main.js')}}"></script>
</body>
</html>