{% extends 'home.html'%}
{% block title%}
Blog Posts Readmore 
{% endblock %}

{% block content%}
<div class="container-fluid main-body">
    <div class="row main-body-row">
        
        <div class="col col-sm-10 main-body">
            
            <h2> {{post.title}} </h2>
           <p>
            {{post.body | safe}}
           </p>
           <h5>
            {{post.created}}
           </h5>
        </div>
        
        <div class="col col-sm-2 side-body-col">
            <div class="card">
                <div class="card-header">
                    Get Weekly Updates
                </div>
                <div class="card-body list1">
                   <h4>Recent Posts</h4>
                   <ul class="nav-item">
                    {%for post in posts%}
                    <li class="nav-list blog-list">
                        {{post.title}}
                    </li>
                    {%endfor%}
                   </ul>
                </div>
                <div class="card-body list2">
                    <h5>
                        Blog Topics
                    </h5>
                    <ul class="nav-item list2">
                        {% for post in posts%}
                        <li class="nav-list nav-list2">
                            {{ post.slug }}
                        </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="card-footer">
                    Search
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}